body {
margin: 0;
display: flex;
justify-content: center;
align-items: center;
background-color: forestgreen;
}
p {
    position:absolute;
     z-index: 10;
     left: 20px;
     font-weight: 500;
     font-size: xxx-large;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin: 0;
}
div {
    position: relative;
}
pre{
    font-size: x-large;
}